<main>
	<h2>Handmade, Fresh, Daily!</h2>

	{{#each donut}}
			<div class="donut-container">

				donut.img
				
				<h3>   <<<< LINK TO DONUT'S SHOW PAGE, DONUT NAME AS LINK NAME >>>>   </h3>

				<p>$ <<<< DONUT PRICE HERE >>>> each </p>

			</div>

			{{/each}}

</main>
